<launch>

   <node pkg="laser_reflector_detect" type="laser_reflector_detect_node" name="laser_reflector_detect_node" >
     <rosparam file="$(find laser_reflector_detect)/param/laser_reflector_detect_navigation_one.yaml"/>
         <!-- <remap from="scan" to="/scan_filtered" /> -->
   </node>
</launch>
